.gradients div {
  width: 300px;
  height: 400px;
  padding: 15px;
  margin: 20px;
  text-align: center;
}

.gradients div img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.linear-gradient {
  float: left;
  background: linear-gradient(45deg, #118902, #fbfa00, #0102fc, #e6931a);
}

.square-gradient {
  float: left;
  background-color: #eee;
  background-image:
    linear-gradient(45deg, green 25%, transparent 25%, transparent 75%, white 75%, orange 75%, blue 100%),
    linear-gradient(45deg, yellow 25%, transparent 25%, transparent 75%, purple 75%, orange);
  background-size: 60px 60px;
  background-position: 0 0, 30px 30px;
  /*background:
    conic-gradient(
      white 0.25turn,
      transparent 0.25turn 0.5turn,
      white 0.5turn 0.75turn,
      transparent 0.75turn
    ) top left / 25% 25% repeat,
    conic-gradient(
      from 0deg,
      #118902,
      #97107a,
      #fbfa00,
      #e6931a,
      #0102fc
    );*/
}

.column-gradient {
  float: left;
  background: repeating-linear-gradient(-90deg, #118902, #ffffff, #0102fc, #fbfa00 50px);
}

.sharp-gradient {
  float: left;
  background:
    linear-gradient(to top left, #ff0 50%, transparent 50.1%)
    bottom right / 70% 70% no-repeat,
    linear-gradient(to top right, #008000 50%, transparent 50.1%)
    bottom left / 50% 50% no-repeat,
    radial-gradient(circle at top left, orange 0%, transparent 70%),
    radial-gradient(circle at top right, blue 0%, transparent 70%),
    radial-gradient(circle at bottom, white 0%, transparent 70%)
}

.repeating-gradient {
  float: left;
  background:
    repeating-linear-gradient(
      190deg,
      rgba(255, 0, 0, 0.5) 40px,
      rgba(255, 153, 0, 0.5) 80px,
      rgba(255, 255, 0, 0.5) 120px,
      rgba(0, 255, 0, 0.5) 160px,
      rgba(0, 0, 255, 0.5) 200px,
      rgba(75, 0, 130, 0.5) 240px,
      rgba(238, 130, 238, 0.5) 280px,
      rgba(255, 0, 0, 0.5) 300px
    ),
    repeating-linear-gradient(
      -190deg,
      rgba(255, 0, 0, 0.5) 30px,
      rgba(255, 153, 0, 0.5) 60px,
      rgba(255, 255, 0, 0.5) 90px,
      rgba(0, 255, 0, 0.5) 120px,
      rgba(0, 0, 255, 0.5) 150px,
      rgba(75, 0, 130, 0.5) 180px,
      rgba(238, 130, 238, 0.5) 210px,
      rgba(255, 0, 0, 0.5) 230px
    ),
    repeating-linear-gradient(
      23deg,
      red 50px,
      orange 100px,
      yellow 150px,
      green 200px,
      blue 250px,
      indigo 300px,
      violet 350px,
      red 370px
    );
}
