.shadow-boxes div {
  width: 250px;
  height: 350px;
  border: 1px solid darkred;
  padding: 15px;
  margin: 20px;
}

.shadow-boxes div img {
  width: 220px;
}

.simple-shadow {
  float: left;
  box-shadow: -5px -5px 5px darkred;
}

.bold-shadow {
  float: left;
  box-shadow: 0 0 10px 5px darkred;
}

.right-shadow {
  float: left;
  box-shadow: 5px 5px 5px darkred;
}

.diffuse-shadow {
  float: left;
  box-shadow: 0 0 40px 5px darkred;
}

.inner-shadow {
  float: left;
  box-shadow: inset 0 0 10px 5px darkred;
}

.vertical-shadow {
  float: left;
  box-shadow: 0 10px 5px black, 0 -10px 5px darkred;
}
