p {
  font-weight: bold;
  margin: 0;
}

.round-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 5px solid #000;
  border-radius: 50px;
}

.semiround-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 5px solid #000;
  border-radius: 50px 0;
}

.combined-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 5px solid #000;
  border-radius: 50px 150px;
}

.color-mixed-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 20px solid;
  border-color: black dimgray;
  border-radius: 150px / 50px;
}

.edges-mixed-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 20px solid;
  border-color: black dimgray;
  border-radius: 150px 250px / 75px 125px;
}

.angle-mixed-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 20px solid;
  border-color: black dimgray;
  border-bottom-right-radius: 100%;
}

.one-romb-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-style: solid;
  border-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png") 27 / 20px / 0 stretch;
}

.repeated-romb-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-style: solid;
  border-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png") 13 / 20px / 0 round;

}

.many-romb-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-style: solid;
  border-image: url("https://mdn.github.io/css-examples/tools/border-image-generator/border-image-1.png") 27 / 20px / 0 round round;
}
.round-rectange-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-style: solid;
  border-image: url("./imgs/black-circle.png") 256 / 16px / 0 round;
}

.semicircle-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border-style: solid;
  border-image: url("./imgs/pattern.png") 42 / 16px / 0 round;

}

.elipse-border {
  float: left;
  margin: 20px;
  padding: 20px;
  width: 300px;
  border: 16px double;
  border-image: url("./imgs/black-circle.png") 33%;
}
